.flag {
	width: 20px;
	height: 34px;
	background:url(flags.png) no-repeat
}

.flag.flag-ad {background-position: -20px 0}
.flag.flag-ae {background-position: -40px 0}
.flag.flag-af {background-position: -60px 0}
.flag.flag-ag {background-position: -80px 0}
.flag.flag-ai {background-position: -100px 0}
.flag.flag-al {background-position: -120px 0}
.flag.flag-am {background-position: -140px 0}
.flag.flag-an {background-position: -160px 0}
.flag.flag-ao {background-position: -180px 0}
.flag.flag-ar {background-position: -200px 0}
.flag.flag-as {background-position: -220px 0}
.flag.flag-at {background-position: -240px 0}
.flag.flag-au {background-position: -260px 0}
.flag.flag-aw {background-position: -280px 0}
.flag.flag-az {background-position: -300px 0}
.flag.flag-ba {background-position: 0 -34px}
.flag.flag-bb {background-position: -20px -34px}
.flag.flag-bd {background-position: -40px -34px}
.flag.flag-be {background-position: -60px -34px}
.flag.flag-bf {background-position: -80px -34px}
.flag.flag-bg {background-position: -100px -34px}
.flag.flag-bh {background-position: -120px -34px}
.flag.flag-bi {background-position: -140px -34px}
.flag.flag-bj {background-position: -160px -34px}
.flag.flag-bm {background-position: -180px -34px}
.flag.flag-bn {background-position: -200px -34px}
.flag.flag-bo {background-position: -220px -34px}
.flag.flag-br {background-position: -240px -34px}
.flag.flag-bs {background-position: -260px -34px}
.flag.flag-bt {background-position: -280px -34px}
.flag.flag-bv {background-position: -300px -34px}
.flag.flag-bw {background-position: 0 -68px}
.flag.flag-by {background-position: -20px -68px}
.flag.flag-bz {background-position: -40px -68px}
.flag.flag-ca {background-position: -60px -68px}
.flag.flag-cd {background-position: -80px -68px}
.flag.flag-cf {background-position: -100px -68px}
.flag.flag-cg {background-position: -120px -68px}
.flag.flag-ch {background-position: -140px -68px}
.flag.flag-ci {background-position: -160px -68px}
.flag.flag-ck {background-position: -180px -68px}
.flag.flag-cl {background-position: -200px -68px}
.flag.flag-cm {background-position: -220px -68px}
.flag.flag-cn {background-position: -240px -68px}
.flag.flag-co {background-position: -260px -68px}
.flag.flag-cr {background-position: -280px -68px}
.flag.flag-cu {background-position: -300px -68px}
.flag.flag-cv {background-position: 0 -102px}
.flag.flag-cy {background-position: -20px -102px}
.flag.flag-cz {background-position: -40px -102px}
.flag.flag-de {background-position: -60px -102px}
.flag.flag-dj {background-position: -80px -102px}
.flag.flag-dk {background-position: -100px -102px}
.flag.flag-dm {background-position: -120px -102px}
.flag.flag-do {background-position: -140px -102px}
.flag.flag-dz {background-position: -160px -102px}
.flag.flag-ec {background-position: -180px -102px}
.flag.flag-ee {background-position: -200px -102px}
.flag.flag-eg {background-position: -220px -102px}
.flag.flag-eh {background-position: -240px -102px}
.flag.flag-er {background-position: -260px -102px}
.flag.flag-es {background-position: -280px -102px}
.flag.flag-et {background-position: -300px -102px}
.flag.flag-fi {background-position: 0 -136px}
.flag.flag-fj {background-position: -20px -136px}
.flag.flag-fk {background-position: -40px -136px}
.flag.flag-fm {background-position: -60px -136px}
.flag.flag-fo {background-position: -80px -136px}
.flag.flag-fr {background-position: -100px -136px}
.flag.flag-ga {background-position: -120px -136px}
.flag.flag-gb {background-position: -140px -136px}
.flag.flag-gd {background-position: -160px -136px}
.flag.flag-ge {background-position: -180px -136px}
.flag.flag-gf {background-position: -200px -136px}
.flag.flag-gg {background-position: -220px -136px}
.flag.flag-gh {background-position: -240px -136px}
.flag.flag-gi {background-position: -260px -136px}
.flag.flag-gl {background-position: -280px -136px}
.flag.flag-gm {background-position: -300px -136px}
.flag.flag-gn {background-position: 0 -170px}
.flag.flag-gp {background-position: -20px -170px}
.flag.flag-gq {background-position: -40px -170px}
.flag.flag-gr {background-position: -60px -170px}
.flag.flag-gs {background-position: -80px -170px}
.flag.flag-gt {background-position: -100px -170px}
.flag.flag-gu {background-position: -120px -170px}
.flag.flag-gw {background-position: -140px -170px}
.flag.flag-gy {background-position: -160px -170px}
.flag.flag-hk {background-position: -180px -170px}
.flag.flag-hm {background-position: -200px -170px}
.flag.flag-hn {background-position: -220px -170px}
.flag.flag-hr {background-position: -240px -170px}
.flag.flag-ht {background-position: -260px -170px}
.flag.flag-hu {background-position: -280px -170px}
.flag.flag-id {background-position: -300px -170px}
.flag.flag-ie {background-position: 0 -204px}
.flag.flag-il {background-position: -20px -204px}
.flag.flag-in {background-position: -40px -204px}
.flag.flag-iq {background-position: -60px -204px}
.flag.flag-ir {background-position: -80px -204px}
.flag.flag-is {background-position: -100px -204px}
.flag.flag-it {background-position: -120px -204px}
.flag.flag-je {background-position: -140px -204px}
.flag.flag-jm {background-position: -160px -204px}
.flag.flag-jo {background-position: -180px -204px}
.flag.flag-jp {background-position: -200px -204px}
.flag.flag-ke {background-position: -220px -204px}
.flag.flag-kg {background-position: -240px -204px}
.flag.flag-kh {background-position: -260px -204px}
.flag.flag-ki {background-position: -280px -204px}
.flag.flag-km {background-position: -300px -204px}
.flag.flag-kn {background-position: 0 -238px}
.flag.flag-kp {background-position: -20px -238px}
.flag.flag-kr {background-position: -40px -238px}
.flag.flag-kw {background-position: -60px -238px}
.flag.flag-ky {background-position: -80px -238px}
.flag.flag-kz {background-position: -100px -238px}
.flag.flag-la {background-position: -120px -238px}
.flag.flag-lb {background-position: -140px -238px}
.flag.flag-lc {background-position: -160px -238px}
.flag.flag-li {background-position: -180px -238px}
.flag.flag-lk {background-position: -200px -238px}
.flag.flag-lr {background-position: -220px -238px}
.flag.flag-ls {background-position: -240px -238px}
.flag.flag-lt {background-position: -260px -238px}
.flag.flag-lu {background-position: -280px -238px}
.flag.flag-lv {background-position: -300px -238px}
.flag.flag-ly {background-position: 0 -272px}
.flag.flag-ma {background-position: -20px -272px}
.flag.flag-mc {background-position: -40px -272px}
.flag.flag-md {background-position: -60px -272px}
.flag.flag-me {background-position: -80px -272px}
.flag.flag-mg {background-position: -100px -272px}
.flag.flag-mh {background-position: -120px -272px}
.flag.flag-mk {background-position: -140px -272px}
.flag.flag-ml {background-position: -160px -272px}
.flag.flag-mm {background-position: -180px -272px}
.flag.flag-mn {background-position: -200px -272px}
.flag.flag-mo {background-position: -220px -272px}
.flag.flag-mp {background-position: -240px -272px}
.flag.flag-mq {background-position: -260px -272px}
.flag.flag-mr {background-position: -280px -272px}
.flag.flag-ms {background-position: -300px -272px}
.flag.flag-mt {background-position: 0 -306px}
.flag.flag-mu {background-position: -20px -306px}
.flag.flag-mv {background-position: -40px -306px}
.flag.flag-mw {background-position: -60px -306px}
.flag.flag-mx {background-position: -80px -306px}
.flag.flag-my {background-position: -100px -306px}
.flag.flag-mz {background-position: -120px -306px}
.flag.flag-na {background-position: -140px -306px}
.flag.flag-nc {background-position: -160px -306px}
.flag.flag-ne {background-position: -180px -306px}
.flag.flag-nf {background-position: -200px -306px}
.flag.flag-ng {background-position: -220px -306px}
.flag.flag-ni {background-position: -240px -306px}
.flag.flag-nl {background-position: -260px -306px}
.flag.flag-no {background-position: -280px -306px}
.flag.flag-np {background-position: -300px -306px}
.flag.flag-nr {background-position: 0 -340px}
.flag.flag-nu {background-position: -20px -340px}
.flag.flag-nz {background-position: -40px -340px}
.flag.flag-om {background-position: -60px -340px}
.flag.flag-pa {background-position: -80px -340px}
.flag.flag-pe {background-position: -100px -340px}
.flag.flag-pf {background-position: -120px -340px}
.flag.flag-pg {background-position: -140px -340px}
.flag.flag-ph {background-position: -160px -340px}
.flag.flag-pk {background-position: -180px -340px}
.flag.flag-pl {background-position: -200px -340px}
.flag.flag-pm {background-position: -220px -340px}
.flag.flag-pn {background-position: -240px -340px}
.flag.flag-pr {background-position: -260px -340px}
.flag.flag-ps {background-position: -280px -340px}
.flag.flag-pt {background-position: -300px -340px}
.flag.flag-pw {background-position: 0 -374px}
.flag.flag-py {background-position: -20px -374px}
.flag.flag-qa {background-position: -40px -374px}
.flag.flag-re {background-position: -60px -374px}
.flag.flag-ro {background-position: -80px -374px}
.flag.flag-rs {background-position: -100px -374px}
.flag.flag-ru {background-position: -120px -374px}
.flag.flag-rw {background-position: -140px -374px}
.flag.flag-sa {background-position: -160px -374px}
.flag.flag-sb {background-position: -180px -374px}
.flag.flag-sc {background-position: -200px -374px}
.flag.flag-sd {background-position: -220px -374px}
.flag.flag-se {background-position: -240px -374px}
.flag.flag-sg {background-position: -260px -374px}
.flag.flag-sh {background-position: -280px -374px}
.flag.flag-si {background-position: -300px -374px}
.flag.flag-sk {background-position: 0 -408px}
.flag.flag-sm {background-position: -20px -408px}
.flag.flag-sn {background-position: -40px -408px}
.flag.flag-so {background-position: -60px -408px}
.flag.flag-sr {background-position: -80px -408px}
.flag.flag-st {background-position: -100px -408px}
.flag.flag-sv {background-position: -120px -408px}
.flag.flag-sy {background-position: -140px -408px}
.flag.flag-sz {background-position: -160px -408px}
.flag.flag-tc {background-position: -180px -408px}
.flag.flag-td {background-position: -200px -408px}
.flag.flag-tf {background-position: -220px -408px}
.flag.flag-tg {background-position: -240px -408px}
.flag.flag-th {background-position: -260px -408px}
.flag.flag-tj {background-position: -280px -408px}
.flag.flag-tk {background-position: -300px -408px}
.flag.flag-tl {background-position: 0 -442px}
.flag.flag-tm {background-position: -20px -442px}
.flag.flag-tn {background-position: -40px -442px}
.flag.flag-to {background-position: -60px -442px}
.flag.flag-tr {background-position: -80px -442px}
.flag.flag-tt {background-position: -100px -442px}
.flag.flag-tv {background-position: -120px -442px}
.flag.flag-tw {background-position: -140px -442px}
.flag.flag-tz {background-position: -160px -442px}
.flag.flag-ua {background-position: -180px -442px}
.flag.flag-ug {background-position: -200px -442px}
.flag.flag-um {background-position: -220px -442px}
.flag.flag-us {background-position: -240px -442px}
.flag.flag-uy {background-position: -260px -442px}
.flag.flag-uz {background-position: -280px -442px}
.flag.flag-va {background-position: -300px -442px}
.flag.flag-vc {background-position: 0 -476px}
.flag.flag-ve {background-position: -20px -476px}
.flag.flag-vg {background-position: -40px -476px}
.flag.flag-vi {background-position: -60px -476px}
.flag.flag-vn {background-position: -80px -476px}
.flag.flag-vu {background-position: -100px -476px}
.flag.flag-wf {background-position: -120px -476px}
.flag.flag-ws {background-position: -140px -476px}
.flag.flag-ye {background-position: -160px -476px}
.flag.flag-yt {background-position: -180px -476px}
.flag.flag-za {background-position: -200px -476px}
.flag.flag-zm {background-position: -220px -476px}
.flag.flag-zw {background-position: -240px -476px}